@mixin slider {
  animation: slide 0.2s linear;
}

@mixin rotate {
  animation: turn 0.4s reverse linear;
}

@mixin widthcontainer {
  animation: containeur 0.4s linear;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 80px;
  }
}

@keyframes turn {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes containeur {
  from {
    width: 100%;
  }
  to {
    width: -50px;
  }
}
