@mixin fadeIn {
  //   animation: fadeIn ease 3s;
  //   -webkit-animation: fadeIn ease 3s;
  //   -moz-animation: fadeIn ease 3s;
  //   -o-animation: fadeIn ease 3s;
  //   -ms-animation: fadeIn ease 3s;
  -webkit-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  margin-top: 20px;
  clear: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
