@mixin slider {
  animation: slide 0.2s linear;
}

@mixin rotate {
  animation: turn 0.4s reverse linear;
}

@mixin widthcontainer {
  animation: containeur 0.4s linear;
}

@mixin load {
  animation: load 1s;
}

@mixin fadeinLoad {
  animation: fadeinLoad;
  animation-delay: 0s;
  animation-duration: 3s;
}

@mixin fadeinOne {
  animation: fadeinOne 2s;
  animation-delay: 0.5s;
}

@mixin fadeinTwo {
  animation: fadeinTwo 2s;
  animation-delay: 1s;
}

@mixin fadeinThree {
  animation: fadeinThree 2s;
  animation-delay: 1.5s;
}

@mixin fadeinFour {
  animation: fadeinFour 2s;
  animation-delay: 2s;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes turn {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(360deg);
  }
  100% {
    display: none;
  }
}

@keyframes containeur {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeinLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinThree {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinFour {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
