$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$background-color: #f6f6f6;
$input-bg-color: #eaeaeac2;
$title-padding: 0% 10% 0% 10%;
$shadow-header: 0px 2px 5px 2px rgba(105, 105, 105, 0.808);
$shadow-btn: 0px 5px 5px 2px rgba(105, 105, 105, 0.2);
$shadow-btn-secondary: 0px 5px 5px 2px rgba(10, 9, 9, 0.272);
$gradient-purple-red: linear-gradient(
  -10deg,
  $color-primary,
  60%,
  $color-secondary
);
$gradient-hover: linear-gradient(-10deg, #9760d9, 60%, #ff79d9d3);
$gradient-reverse: linear-gradient(
  90deg,
  rgba(147, 86, 220, 1) 7%,
  rgba(242, 5, 177, 1) 46%
);
