@import "abstracts/variables";
// @import "abstracts/mixins";

@font-face {
  font-family: "title";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "texte";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

body {
  margin: 0px;
}

header {
  background-color: #fff;
  background-image: url("img/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  box-shadow: $shadow-header;
}

form {
  display: flex;
  justify-content: center;
  background-color: rgba(184, 184, 184, 0.24);
}

input {
  width: 50%;
  background-image: url("img/icn/map-marker-alt-solid.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  background-size: 15px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 5vw;
  outline: none;
}

input::placeholder {
  font-family: texte;
  font-size: 5vw;
  font-weight: 900;
  width: 80%;
  color: #000000;
}

.booking {
  background-color: rgba(201, 201, 201, 0.466);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;

  h1 {
    font-family: texte;
    font-size: 6vw;
    font-weight: bolder;
    text-align: center;
    padding: $title-padding;
  }

  p {
    font-family: texte;
    font-size: 4vw;
    font-weight: 100;
    text-align: center;
    color: rgba(135, 135, 135, 1);
    padding: $title-padding;
  }
  button {
    width: 50%;
    background-color: $color-secondary;
    border: none;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(-10deg, $color-primary, 60%, $color-secondary);
    box-shadow: $shadow-btn;
  }
  button:hover {
    box-shadow: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    box-shadow: none;
  }
}
