@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@font-face {
  font-family: "title";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "texte";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
body {
  margin: 0px;
}

header {
  background-color: #fff;
  background-image: url("img/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  height: 10vh;
  z-index: 1000;
  box-shadow: 0px 2px 5px 2px rgba(105, 105, 105, 0.808);
  display: flex;
  align-items: center;
  padding-left: 50px;
}
header img {
  width: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
  background-color: #eaeaeac2;
}

input {
  width: 50%;
  background-image: url("img/icn/map-marker-alt-solid.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  background-size: 15px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 5vw;
  outline: none;
}

input::placeholder {
  font-family: texte;
  font-size: 5vw;
  font-weight: 900;
  width: 80%;
  color: #000000;
}

.booking {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.booking h1 {
  font-family: "texte";
  font-size: 6vw;
  font-weight: bolder;
  text-align: center;
  padding: 0% 10% 0% 10%;
}
.booking p {
  font-family: texte;
  font-size: 4vw;
  font-weight: 100;
  text-align: center;
  color: #878787;
  padding: 0% 10% 0% 10%;
}

button {
  width: 50%;
  background-color: #ff79da;
  border: none;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(-10deg, #9356dc, 60%, #ff79da);
  box-shadow: 0px 5px 5px 2px rgba(105, 105, 105, 0.2);
}

button:hover {
  box-shadow: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

h2 {
  font-family: "texte";
  font-weight: bold;
  font-size: 6vw;
  margin-left: 6%;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  height: 60vh;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 100px;
  border-radius: 20px;
  background-color: #f6f6f6;
}
.steps img {
  width: 30px;
  height: 30px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "texte";
  margin-left: -15px;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: #9356dc;
}

.operation {
  display: flex;
  align-items: center;
  width: 100%;
}
.operation .operationTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-family: "texte";
  font-size: 18px;
}

.restauContainer {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20%;
  padding-bottom: 20%;
}

.cardContainer {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.cardRestau {
  background-color: #fff;
  display: inline-block;
  width: 85%;
  max-width: 85%;
  border-radius: 15px;
  margin-top: 20px;
  -webkit-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  margin-top: 20px;
  clear: both;
}
.cardRestau img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  border-style: none;
}

.newRestau {
  position: absolute;
  background-color: #99e2d0;
  right: 0;
  height: 35px;
  padding: 0px 25px;
  margin-right: 12vw;
  margin-top: 20px;
  border-radius: 3px;
}
.newRestau p {
  color: #008766;
  font-family: "texte";
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.cardText {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.cardText section {
  margin-left: 20px;
}
.cardText h3 {
  font-family: "texte";
  font-size: 28px;
}
.cardText p {
  font-family: "texte";
  font-size: 18px;
}

.like {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like img {
  width: 30%;
}

footer {
  background-color: #353535;
  padding-top: 10%;
  padding-bottom: 0%;
  padding-left: 5%;
  display: flex;
  align-content: center;
}

.footerContainer {
  color: #fff;
  font-family: "texte";
  display: inline;
  align-content: flex-start;
}
.footerContainer .logoFooter {
  width: 60%;
  margin-bottom: 15px;
}
.footerContainer .containerPicto {
  display: flex;
  align-items: center;
  height: 15%;
}
.footerContainer .picto {
  width: 15px;
}
.footerContainer .textPicto {
  margin-left: 12px;
}
.footerContainer .containerText {
  margin-top: -10px;
}

.imgContainer img {
  width: 100%;
}

.tilde {
  border-bottom: 3px solid #99e2d0;
  width: 60px;
  border-width: 5px;
  margin-left: 0px;
}

.menuContainer {
  background-color: #f6f6f6;
  margin-top: -60px;
  position: relative;
  height: 180vh;
  border-radius: 50px 50px 0px 0px;
  padding: 5%;
}
.menuContainer h1 {
  font-family: "title";
  font-size: 30px;
}
.menuContainer h3 {
  font-family: "texte";
}
.menuContainer p {
  font-family: "texte";
}

.titleMenu {
  display: flex;
  justify-content: space-between;
}
.titleMenu img {
  width: 30px;
}

.containerChoise {
  height: 35vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.choise {
  background-color: #fff;
  border-radius: 15px;
  padding: 0% 5%;
  display: flex;
}
.choise .containerOrder {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.choise .inlineText {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.choise .check {
  width: 30px;
}
.choise .checkIt {
  display: none;
}

.choise:hover .checkIt {
  width: 100%;
  display: block;
  background-color: #99e2d0;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-right: -25px;
  border-radius: 0px 15px 15px 0px;
  margin-left: 40px;
}

.btnOrder {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
