<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Ohmyfood-Menu-Cité-Rouge ©</title>
</head>
<body>
    <header>

        <span class="arrow">
            <a href="/index.html">
                <img src="../img/icn/arrow.svg" alt="arrow">
            </a>
        </span>
    </header>
<main>
    <section class="imgContainer">
        <img src="../img/restaurants/cite-rouge.png" alt="restaurants la cite rouge">
    </section>

    <section class="menuContainer">
        <!-- title container -->
        <section class="titleMenu">
            <h1>À la française</h1>
            <img src="../img/icn/heart.svg" alt="like">
        </section>

        <!-- starter -->
        <section>
            <h2 class="tilde">Entrées</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Tartare de poulpe</h3>
                        <section class="inlineText">
                            <p>Au zests d'orange</p>
                            <p>25&euro;</p>
                        </section>
                    </section> 
                     <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Velouté de légumes d'antan</h3>
                        <section class="inlineText">
                            <p>Carotte, panais, topinambour</p>
                            <p>35&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Soupe à l'oigno</h3>
                        <section class="inlineText">
                            <p>Revisitée</p>
                            <p>20&euro;</p>
                        </section>
                    </section>
                    <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
            </section>
        </section>

        <!-- dish -->
        <section>
            <h2 class="tilde">Plats</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Coquilles Saint-Jacques</h3>
                        <section class="inlineText">
                            <p>Accompagnées d'une purée de panais</p>
                            <p>40&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>

                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Magret de canard </h3>
                        <section class="inlineText">
                            <p>Et parmentier de pommes de terres</p>
                            <p>35&euro;</p>
                        </section>
                    </section>
                    <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Pigeonneau d'ille-et-Vilaine </h3>
                        <section class="inlineText">
                            <p>Sur son lit de gnocchis aux légumes</p>
                            <p>44&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                
            </section>
        </section>
        <!-- desserts -->
        <section>
            <h2 class="tilde">Desserts</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Pétales de violettes glacés</h3>
                        <section class="inlineText">
                            <p>Et purée de noisettes</p>
                            <p>18&euro;</p>
                        </section>
                          <!-- check this plate -->
                        </section>
                        <section class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </section>
                </section>

                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Fondant au chocolat</h3>
                        <section class="inlineText">
                            <p>Revisité</p>
                            <p>22&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Millefeuille croustillant</h3>
                        <section class="inlineText">
                            <p>Myrtilles et pâte d'ammande</p>
                            <p>23&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
            </section>
        </section>
        <section class="btnOrder">
            <button>Commander</button>
        </section>
    </section>
</main>
 <!-- footer -->
 <footer>
    <section class="footerContainer">
        <a href="/index.html">
            <img class="logoFooter" src="../img/logo/ohmyfood@2x.svg" alt="logo">
        </a>
        <section class="containerPicto">
            <img class="picto" src="../img/icn/utensils.svg" alt="ustensils">
            <p class="textPicto">Proposer un restaurant</p>
        </section>
        <section class="containerPicto">
            <img class="picto" src="../img/icn/hands.svg" alt="hands">
            <p class="textPicto">Devenir partenaire</p>
        </section>
        <section class="containerText">
            <p>Mentions légales</p>
            <p>contact</p>
        </section>
    </section>
</footer>

</body>
</html>