<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icn/glass.ico">
    <link href="../img/fontawesome/css/all.css" rel="stylesheet">
    <title>Ohmyfood-Menu-folie-Méricourt ©</title>
</head>
<body>
    <header>
        <div class="containerArrow" >
            <a href="../index.html">
                <img class="arrow" src="../img/icn/arrow.svg" alt="arrow">
            </a>
        </div>
        <div class="containerLogo">
            <img class="logoHeader" src="../img/logo/ohmyfood-Black.svg" alt="logo">
        </div>
    </header>
<main>
    <div class="imgContainer">
        <img src="../img/restaurants/folie-mericourt.png" alt="Restaurant Menilmontant">
    </div>

    <div class="menuContainer">
        <!-- title container -->
        <section class="titleMenu">
            <h2>Le délice des sens</h2>
            <i class="far fa-heart"></i>
        </section>
        <div class="blockMenuContent">

            <!-- starter -->
            <div class="blockMenu">
                <h2 class="tilde">Entrées</h2>
                <!-- container choise -->
                <div class="containerChoise">
                    <!-- first choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Tartare de thon</h3>
                            <div class="inlineText">
                                <p class="elips">Assaisonné au yuzu</p>
                                <p>25&euro;</p>
                            </div>
                        </section> 
                         <!-- check this plate -->
                        <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
    
                    <!-- second choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3 class="elips">Bouchée de homard croustillant</h3>
                            <div class="inlineText">
                                <p class="elips">Et sa farandole de petits légumes</p>
                                <p>35&euro;</p>
                            </div>
                        </section>
                          <!-- check this plate -->
                          <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
    
                    <!-- third choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Velouté de cèpes</h3>
                            <div class="inlineText">
                                <p class="elips">Aux truffes</p>
                                <p>20&euro;</p>
                            </div>
                        </section>
                        <!-- check this plate -->
                        <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- dish -->
            <div class="blockMenu">
                <h2 class="tilde">Plats</h2>
                <!-- container choise -->
                <div class="containerChoise">
                    <!-- first choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3 class="elipsTitle">Poulet rôti aux herbes de Provence</h3>
                            <div class="inlineText">
                                <p class="elips">Et sa crème de truffe</p>
                                <p>40&euro;</p>
                            </div>
                        </section>
                          <!-- check this plate -->
                          <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
    
                    <!-- second choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Langouste rôtie</h3>
                            <div class="inlineText">
                                <p class="elips">Et ses légumes de saison</p>
                                <p>35&euro;</p>
                            </div>
                        </section>
                        <!-- check this plate -->
                        <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
                    <!-- third choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Côte de boeuf Angus</h3>
                            <div class="inlineText">
                                <p class="elips">Et sa purée de panais</p>
                                <p>44&euro;</p>
                            </div>
                        </section>
                          <!-- check this plate -->
                          <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- desserts -->
            <div class="blockMenu">
                <h2 class="tilde">Desserts</h2>
                <!-- container choise -->
                <div class="containerChoise">
                    <!-- first choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Farandole de desserts</h3>
                            <div class="inlineText">
                                <p class="elips">Du chef</p>
                                <p>18&euro;</p>
                            </div>
                              <!-- check this plate -->
                            </section>
                            <div class="checkIt">
                                <img class="check" src="../img/icn/check.svg" alt="check">
                            </div>
                    </div>
    
                    <!-- second choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Crème brulée</h3>
                            <div class="inlineText">
                                <p class="elips">Revisitée</p>
                                <p>22&euro;</p>
                            </div>
                        </section>
                          <!-- check this plate -->
                          <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
                    <!-- third choise -->
                    <div class="choise">
                        <section class="containerOrder">
                            <h3>Tiramisu</h3>
                            <div class="inlineText">
                                <p class="elips">À la noisette</p>
                                <p>23&euro;</p>
                            </div>
                        </section>
                          <!-- check this plate -->
                        <div class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btnOrder">
            <button>Commander</button>
        </div>
    </div>
</main>
 <!-- footer -->
 <footer>
    <div class="footerContainer">
        <a href="/index.html">
            <img class="logoFooter" src="../img/logo/ohmyfood@2x.svg" alt="logo">
        </a>
        <div class="containerPicto">
            <img class="picto" src="../img/icn/utensils.svg" alt="ustensils">
            <p class="textPicto">Proposer un restaurant</p>
        </div>
        <div class="containerPicto">
            <img class="picto" src="../img/icn/hands.svg" alt="hands">
            <p class="textPicto">Devenir partenaire</p>
        </div>
        <div class="containerText">
            <p>Mentions légales</p>
            <p>contact</p>
        </div>
    </div>
</footer>

</body>
</html>