<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Ohmyfood-Menu-Folie-Méricourt ©</title>
</head>
<body>
    <header>

        <span class="arrow">
            <a href="/index.html">
                <img src="../img/icn/arrow.svg" alt="arrow">
            </a>
        </span>
    </header>
<main>
    <section class="imgContainer">
        <img src="../img/restaurants/folie-mericourt.png" alt="Restaurant folir mrticourt">
    </section>

    <section class="menuContainer">
        <!-- title container -->
        <section class="titleMenu">
            <h1>Le délice des sens</h1>
            <img src="../img/icn/heart.svg" alt="like">
        </section>

        <!-- starter -->
        <section>
            <h2 class="tilde">Entrées</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Tartare de thon</h3>
                        <section class="inlineText">
                            <p>Assaisonné au yuzu</p>
                            <p>25&euro;</p>
                        </section>
                    </section> 
                     <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Bouchée de homard croustillant</h3>
                        <section class="inlineText">
                            <p>Et sa farandole de petits légumes</p>
                            <p>35&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Velouté de cèpes</h3>
                        <section class="inlineText">
                            <p>Aux truffes</p>
                            <p>20&euro;</p>
                        </section>
                    </section>
                    <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
            </section>
        </section>

        <!-- dish -->
        <section>
            <h2 class="tilde">Plats</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Poulet rôti aux herbes de provence</h3>
                        <section class="inlineText">
                            <p>Et sa crème de truffe</p>
                            <p>40&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>

                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Langouste rôtie</h3>
                        <section class="inlineText">
                            <p>Et ses légumes de saison</p>
                            <p>35&euro;</p>
                        </section>
                    </section>
                    <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Côte de boeuf angus</h3>
                        <section class="inlineText">
                            <p>Et sa purée de panais</p>
                            <p>44&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                
            </section>
        </section>
        <!-- desserts -->
        <section>
            <h2 class="tilde">Desserts</h2>
            <!-- container choise -->
            <section class="containerChoise">
                <!-- first choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Farandole de desserts</h3>
                        <section class="inlineText">
                            <p>Du chef</p>
                            <p>18&euro;</p>
                        </section>
                          <!-- check this plate -->
                        </section>
                        <section class="checkIt">
                            <img class="check" src="../img/icn/check.svg" alt="check">
                        </section>
                </section>

                <!-- second choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Créme brulée</h3>
                        <section class="inlineText">
                            <p>Revisitée</p>
                            <p>22&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                      <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
                <!-- third choise -->
                <section class="choise">
                    <section class="containerOrder">
                        <h3>Tiramisu</h3>
                        <section class="inlineText">
                            <p>À la noisette</p>
                            <p>23&euro;</p>
                        </section>
                    </section>
                      <!-- check this plate -->
                    <section class="checkIt">
                        <img class="check" src="../img/icn/check.svg" alt="check">
                    </section>
                </section>
            </section>
        </section>
        <section class="btnOrder">
            <button>Commander</button>
        </section>
    </section>
</main>
 <!-- footer -->
 <footer>
    <section class="footerContainer">
        <a href="/index.html">
            <img class="logoFooter" src="../img/logo/ohmyfood@2x.svg" alt="logo">
        </a>
        <section class="containerPicto">
            <img class="picto" src="../img/icn/utensils.svg" alt="ustensils">
            <p class="textPicto">Proposer un restaurant</p>
        </section>
        <section class="containerPicto">
            <img class="picto" src="../img/icn/hands.svg" alt="hands">
            <p class="textPicto">Devenir partenaire</p>
        </section>
        <section class="containerText">
            <p>Mentions légales</p>
            <p>contact</p>
        </section>
    </section>
</footer>

</body>
</html>